.home {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  position: relative; /*make home__containerNotifs height all the way down */
  width: 100%;
}

.home__container {
  max-width: 1500px;
}

.home__containerNotifs {
  position: absolute;
  right: 0;
  margin-right: 10px;
  z-index: 20;
  height: 100%;
  pointer-events: none;
}

.home__containerNotifsSticky {
  position: sticky;
  top: 80px;
}

.home__containerNotif {
  height: 80px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  opacity: 1;
  animation: notifPopOut 2s forwards;
}

@keyframes notifPopOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home__image {
  width: 100%;
  z-index: -10;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  display: flex;
  z-index: 0;
  margin: 0px 5px;
}
